<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!--Um Formulario HTML pode ser enviado em HTTP atraves de GET ou POST-->
    <!--A diferença é que o GET envia os dados pela URL(Forma não muito segura)-->
    <!--POST envia os dados do formulário por fora da URL-->
    <form action="/add" method="POST">
        <p>Titulo: </p>
        <input type="text" name="titulo">
        <p>Conteudo: </p>
        <textarea name="conteudo"></textarea>
        <button type="submit">Cadastrar Postagem</button>
    </form>
</body>

</html>