<h1>Lista de Postagens</h1>
<!--Handlebars consegue servir variaveis no proprio HTML-->
{{#eatch posts}}
<h1>{{titulo}}</h1>
<p>{{conteudo}}</p>
<a href="/deletar/{{id}}" ><button>Deletar</button></a>
<hr>
{{/eatch}}